.main1{
    background-color: var(--bg1);
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container{
    display: block;
    max-width: 500px;
    width: 50%;
    overflow-y: auto;
}

@media screen and (width < 800px){
    .container{
        width: 70%;
    }
}

@media screen and (width < 551px){
    .main1{
        padding: 0 20px;
    }

    .container{
        width: 98%;
    }
}