.screen{
    width: 100%;
    background-color: var(--screenbg);
    height: 70px;
    margin: 10px 0;
    color: var(--headtext);
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    border-radius: 12px;
}

.screen p{
    font-size: 7vh;
    margin: auto 20px;
    font-weight: 600;
}